/* GENERAL STYLE */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* FLEX CONTAINERS HELPERS */
.flex { display: flex; }
.spaceBtw { justify-content: space-between; }
.alignCtr { align-items: center; }
.justyCtr { justify-content: center; }
.flexwrap { flex-wrap: wrap; }

/* POSITION & TRANSITION HELPERS */
.secTrans { transition: 0.5s; }
.posFixed { position: fixed; }
.posRelative { position: relative; }
.posAbsolute { position: absolute; }

/* UTILITY | centratura */
.box {
    max-width: 69.4rem; /* 1110px su 1536px */
    margin: 0 auto;
}

/* GENERIC UTILITIES */
.txtWhite { color: white; }
.txtRed { color: red; }
.cursor { cursor: pointer; }
.txtAlignCtr { text-align: center; }
.vw100 { width: 100vw; }

/* UTILITY | hover */
.fontBigHov:hover { font-size: larger; }
.changeColRedHov:hover {color: red;}
.txtHover:hover {
    text-decoration: underline;
    text-transform: uppercase;
}

/* HEADER STYLE */
header {
    background-color: #FF6900;
    box-shadow: 0px 4px 5px 0px #9d9d9dae;
    z-index: 1;
    top: 0;
}

header section > * {
    padding: 1%;
}

a {
    text-decoration: none;
}

#bannerlogo > img { 
    width: 20%; 
}

#bannerlogo { 
    width: 60%; 
}

/* MAIN STYLE */
main {
    margin: 6rem 0;
}

#productRow {
    min-width: 60%;
}

#productRow > div {
    min-width: calc(100% / 3);
    margin-bottom: 3rem;
    padding: 0 5px;
}

.productImg {
    max-height: 32.4rem;
    display: block;
    top: 0;
    left: 0;
} 

div.posRelative > small:nth-child(2) {
    background-color: red;
    padding: 1% 2%;
    bottom: 2rem;
}

div.posRelative > small:nth-child(3) {
    background-color: green;
    padding: 1% 2%;
    bottom: 2rem;
    left: 3rem;
}

div.posRelative > span:last-child {
    background-color: white;
    padding: 3% 3%;
    top: 0.5rem;
    right: 0;
}

#bgGreen {
    background-color: green;
}

/* MAIN ELEMENTS, HOVER STYLE */
#productRow > div:hover img:first-child {
    position: static;
}

#productRow > div:hover img:last-child {
    position: absolute;
    top: 0;
    left: 0;
}

/* FOOTER STYLE */
footer {
    background-color: #1A1A1A;
    bottom: 0;
    z-index: 1;
}

footer > section {
    min-height: 5rem;
}

h5 {
    margin-bottom: 0.5rem;
}

footer a {
    margin-right: 0.3rem;
}